total_storage_limit: 800M
queue:
- name: default
  rate: 100/s
  max_concurrent_requests: 100
  bucket_size: 20
  retry_parameters:
    task_age_limit: 12h
    min_backoff_seconds: 60
    max_backoff_seconds: 3600
- name: bigquery-list
  rate: 10/s
  max_concurrent_requests: 20
  bucket_size: 20
  retry_parameters:
    task_retry_limit: 5
    task_age_limit: 3h
- name: bigquery-tables
  rate: 100/s
  max_concurrent_requests: 100
  bucket_size: 100
  retry_parameters:
    task_retry_limit: 5
    task_age_limit: 6h
- name: bigquery-partitions
  rate: 100/s
  max_concurrent_requests: 100
  bucket_size: 100
  retry_parameters:
    task_retry_limit: 5
    task_age_limit: 6h
